/* --- MENÚ HORIZONTAL --- */
.main-nav { 
    background: #000; 
    border-bottom: 2px solid #f37021; 
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.logo-hrj-nav { 
    height: 35px;        /* Tamaño pequeño y elegante */
    width: auto;         
    display: block;
}

.nav-links { 
    list-style: none; 
    display: flex; 
    gap: 25px;           /* Un poco más de aire entre botones */
    margin: 0; 
    padding: 0; 
    align-items: center; /* Asegura que los links estén centrados verticalmente */
}

.nav-links a { 
    text-decoration: none; 
    color: #fff; 
    font-size: 0.9rem; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
    transition: 0.3s; 
}

.nav-links a:hover { color: #f37021; }
